@model Models.CharacterDetailModel

@{
    ViewBag.Title = "Details";
}

<h2>Detail</h2>

<div>
    <h4>CharacterDetailModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterPrimaryArchtypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterPrimaryArchtypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterSecondaryArchtypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterSecondaryArchtypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTertiaryArchtypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTertiaryArchtypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterBaseSpellName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterBaseSpellName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterPrimarySpellName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterPrimarySpellName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterSecondarySpellName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterSecondarySpellName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTertiarySpellName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTertiarySpellName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusHealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusHealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusStamina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusStamina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusConcentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusConcentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusStrength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusStrength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusAgility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusAgility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusIntellect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusIntellect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusBlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusDodge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusDodge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterTotalBonus.BonusResist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterTotalBonus.BonusResist)
        </dd>
    </dl>
</div>
<p>
</p>
