@model Models.CharacterIndexModel


<p>
    @Html.ActionLink("Create New", "Create", new { Id = Model.PlayerId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterIndex[0].CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterIndex[0].CharacterActivePrimaryArchtypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterIndex[0].CharacterActiveSecondaryArchtypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterIndex[0].CharacterActiveTertiaryArchtypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CharacterIndex)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterActivePrimaryArchtypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterActiveSecondaryArchtypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterActiveTertiaryArchtypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id =item.CharacterId }) |
                @Html.ActionLink("Details", "Details", new { Id = item.CharacterId }) 
            </td>
        </tr>
    }

</table>
