@model IEnumerable<Models.ArchtypeIndexModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArchtypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArchtypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArchtypeShortDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArchtypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchtypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchtypeShortDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
